table {
    height: 540px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: beige;
}

.btn1 {
    text-align: center;
}

.center {
    text-align: center;
}

.table #th {
    border-top: transparent;
    color: black;
}

.table .td {
    border: .5px solid black;
    text-align: right;
    color: black;
    bottom: 20px;
}

.body {
    background-image: linear-gradient(to right, rgb(21, 18, 156), rgb(110, 108, 255));
}

.jumbotron1 {
    padding: 1rem 1rem;
    margin-bottom: 0rem;
    /* background-color: #e9ecef; */
    background: none;
    border-radius: .3rem;
    text-align: center;
    color: beige;
    font-weight: bold;
}

.wrapper {
    height:100%;
    border-left: 40px;
    border-right: 40px;
}

.bg-style{
    background: none;
}

.table {
    color: black;
    text-align: center;
    background-color: beige;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    width: 200px;
    outline: transparent;;
}

.td {
    outline: transparent;
}

@media screen and(min-width:760px) {
    .table {
        width: 75vw;
    }

    .large1 {
        width: 75vw;
    }
}